/* Common Reset Code */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Work Sans', sans-serif;
   
}

.container{
    width: 80%;
    margin: 0 auto;
}


/* header Banner CSS */

.header-banner{
    background-image: url('../images/banner/banner2.png');
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.header-content{
 width: 50%;
 margin-left: auto;
 text-align: right;
 padding-top: 12%;
}

.header-content h1{
    font-size: 65px;
    font-weight: 700;
    line-height: 76px;
    color: #151414;
}

.header-content p{
    color:  #444343;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin: 10px 0 20px 0;
}

.header-content button{
    background-color: #F15B22;
    border: 0;
    width: 150px;
    height: 60px;
    color: #ffff;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

/* My Failur Section CSS */

.my-failurs{
    margin-top: 100px;
    background-color: #f2f2f2;
}



.failur-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.failur-info img{
    width: 500px;
}
.failur-content{
    width: 500px;
    padding: 25px;
    text-align: left;
}

.failur-content h2{
    font-size: 40px;
    font-weight: 700;
    color: #151414;
    line-height: 47px;
}

.failur-content p{
    margin: 25px 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}


.failur-content li {
    list-style: none;
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.failur-content li img{
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

/* My Plans Sections */

.plan-section{
    margin-top: 150px;
}

.plan-section h2{
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
}

.my-plans{
    display: flex;
    justify-content: space-between;
    margin: 50px auto;
}

.single-plans{
    padding: 20px;
    text-align: center;
}

.single-plans img{
    width: 100px;
    height: 100px;
}
.single-plans h4{
    font-size: 30px;
    font-weight: 700;
    color: #151414;
    margin: 10px 0 ;
    line-height: 36px;
}

.single-plans p{
    font-size: 25px;
    font-weight: 500;
    color: #737272;
    line-height: 30px;
}

/* Call Now Banner CSS */

.call-now-banner{
    background-image: url('../images/watch.png');
    height: 40vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 50px 0;
    position: relative;
    z-index: 1;
}

.call-now-banner::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background:linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0) 100%);
    top: 0;
    left: 0;
    z-index: -1;
}

.call-now-content{
    color: #fff;
    position: absolute;
    width: 50%;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
}

.call-now-content h2{
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
}

.call-now-content button{
    background-color: #fff;
    color: #F15B22;
    border: 0;
    border-radius: 5px;
    width: 160px;
    height: 60px;
    font-size: 20px;
    font-weight: 700;
    margin-top: 20px;
}

/* Footer CSS */

.footer-area{
    background-color: #151414;
    height: auto;
}
.footer-content{
    display: flex;
    justify-content: space-between;
    color: #ffff;
    align-items: baseline;
    padding: 80px 0;
}

.future-content, .subscribe{
    width: 50%;
    margin-top: 20px;
}

.future-content h3{
    font-size: 45px;
    font-weight: 700;
    line-height: 55px;
}

.future-content p{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin: 10px 0;
    text-align: left;
}

.social-section img{
    margin-right: 10px;
    width: 40px;
    height: 40px;
}

.subscrib-section h3{
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
    margin: 0 0 20px;
}

.subscrib-section input{
    display: block;
    padding: 10px;
    border: 1px solid #fff;
    background-color: #151414;
    height: 50px;
    width: 300px;
    margin-bottom: 15px;
    color: #ffff;
}

.subscrib-section input[type="submit"]{
    width: 160px;
    height: 60px;
    background-color: #fff;
    border-radius: 8px;
    font-size: 20px;
    color: #F15B22;
    font-weight: 600;
}






